@model VideoEntityFrameworkCore.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdutoGrupoId" class="control-label"></label>
                <select asp-for="ProdutoGrupoId" class="form-control" asp-items="ViewBag.ProdutoGrupoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group" id="categorias-div">
                @foreach (var categoria in Model.Categorias)
                {
                    @Html.Partial("_Categoria", categoria)
                }
            </div>
            <button type="button" id="adicionar-categoria" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> Categoria
            </button>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#adicionar-categoria').on('click', function () {
            var url = '@Url.Action("AdicionarCategoria")';
            $.get(url, function (data) {
                $('#categorias-div').append(data);
            });
        });

        $('body').on('click', '#remover-categoria', function () {
            $(this).parent().remove();
        });
    </script>
}
